- @message_header_user = User.find_by_id(message_header.sender_id)

= link_to ("/messages/" + message_header.id.to_s) do

  %table.message_header_table
    %tr
      %td.message_header_avatar_block
        = avatar_for(@message_header_user)
      %td.message_header_content_block
        %strong
          = User.find_by_id(message_header.sender_id).name
        .timestamp
          = time_ago_in_words(message_header.created_at) + " ago"
        .message_header_content
          = message_header.content.truncate(30, :separator => ' ')

