- @message_user = User.find_by_id(message.sender_id)
= link_to ("/messages/" + message.id.to_s) do
  
  %li
    %table
      %tr
        %td.message_avatar_block
          = avatar_for(@message_user)
        %td.message_content_block
          %strong
            = @message_user.name
          %span.timestamp
            #{time_ago_in_words(message.created_at)} ago.
          %div
            = message.content.truncate(50, :separator => ' ')