- provide(:title, 'Sent Items')
- provide(:subtitle, 'Messages you have sent to others')

= will_paginate @sentessages, class: "nexus_pagination", :inner_window => 2, :outer_window => 2

%ul.messages
  - if @sentmessages.count > 0
    - @sentmessages.each do |sentmessage|
      %li
        %span.user
          = User.find_by_id(sentmessage.sender_id).name
        %span.content
          = link_to sentmessage.content, "/messages/" + sentmessage.id.to_s
        %span.timestamp
          #{time_ago_in_words(sentessage.created_at)} ago.

  - else
    %h3 You have no messages
    %h5
      No user's have contacted you yet

= will_paginate @sentmessages, class: "nexus_pagination", :inner_window => 2, :outer_window => 2