- provide(:title, 'Sign in')

= content_for :content do

  .row
    .span6.offset3
      .panel.type1
        = form_for(:session, url: sessions_path) do |f|
          = f.label :email
          = f.text_field :email
          = f.label :password
          = f.password_field :password

          = f.submit "Sign in", class: "btn btn-inverse pull-right"

        %p
          New user? #{link_to "Sign up now!", signup_path}


