#modal_message.modal.hide.fade
  = form_for(@notification, remote: true) do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×

      %h3 Send Message

    #modal_body_message.modal-body

      %p
        Contact this user

      / render message form, remote AJAX enabled
      #message_form_container

        = form_for(@notification, remote: true) do |f|

          #flash_notifications

          = render 'shared/error_messages', object: @notification

          #message_form

            .field
              = f.text_area :content, placeholder: "Send message...", style: "height:100px;", id: "message_field"

              = f.hidden_field :user_id, :value => @user.id
              = f.hidden_field :sender_id, :value => current_user.id
              = f.hidden_field :ntype, :value => "message"

    .modal-footer
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
      %button.btn.btn-primary{:href => "#",:type => "submit"}
        %i.icon-arrow-right.icon-white
        Send Message


