/ load marker user
- @case_user = User.find_by_id(cas.marker_id)
/ generate total case score out of 50
/ could also add mini radars here?
- @case_score = cas.plan + cas.analytic + cas.struc + cas.conc + cas.comms

= link_to ("/cases/" + cas.id.to_s) do
  %li
    %table
      %tr
        %td.case_avatar_block
          = avatar_for(@case_user)
        %td.score
          = @case_score
        %td.case_content_block
          %strong
            = @case_user.name
          %span.timestamp
            #{time_ago_in_words(cas.created_at)} ago.
          .content
            = cas.subject