- provide(:title, 'Your Cases')
- provide(:subtitle, 'View your cases')

= will_paginate @cases, class: "nexus_pagination", :inner_window => 2, :outer_window => 2

%ol.cases
  - if @cases.count > 0
    - @cases.each do |c|
      /<a href="<%= "/cases/" + c.id.to_s %>><%= c.subject =></a>
      %li
        %span.user
          = link_to c.email, "#"
        %span.content
          = link_to c.subject, "/cases/" + c.id.to_s
        %span.timestamp
          #{time_ago_in_words(c.created_at)} ago.
  - else
    %h3 You have no cases
    %h5
      Use the user map or the roulette page to find new case partners and start practising!

= will_paginate @cases, class: "nexus_pagination", :inner_window => 2, :outer_window => 2