- provide(:title, 'Case with ' + @case.marker_id.to_s)
- provide(:subtitle, @case.subject)

- @case_marker = User.find_by_id(@case.marker_id)



%table{:style => "width:100%;"}
  %tr
    %td{:style => "width:60%", :valign => "top"}
      / stats panel
      .panel.type1
        %table#analysis_stats
          %tr
            %td
              Marker
            %td.value
              = avatar_for(@case_marker)
              = @case_marker.name
          %tr
            %td
              Date
            %td.value
              = @case.date.strftime("%m/%d/%Y")
          %tr
            %td
              Subject
            %td.value
              = @case.subject
          %tr
            %td
              Source
            %td.value
              = @case.source
          %tr
            %td
              Submitted
            %td.value
              = @case.created_at.strftime("%m/%d/%Y")



    %td{:style => "width:340px;"}

      #chartdiv{:style => "width: 100%; height: 250px;"}


%table{:style => "width:100%;"}

  %tr
    %td{:style => "width:50%;"}
      .case_comment
        .title
          Plan
        %table
          %tr
            %td
              .score
                = @case.plan
            %td
              .comment
                = @case.plan_s
    %td
      .case_comment
        .title
          Analytical/Problem-solving  
        %table
          %tr
            %td
              .score
                = @case.analytic
            %td
              .comment
                = @case.analytic_s

  %tr
    %td
      .case_comment
        .title
          Structure
        %table
          %tr
            %td
              .score
                = @case.struc
            %td
              .comment
                = @case.struc_s

    %td
      .case_comment
        .title
          Conclusion/Solution
        %table
          %tr
            %td
              .score
                = @case.conc
            %td
              .comment
                = @case.conc_s

  %tr
    %td
      .case_comment
        .title
          Communication/Presentation     
        %table
          %tr
            %td
              .score
                = @case.comms
            %td
              .comment
                = @case.comms_s

    %td
      .case_comment
        .title
          Further Comment
        .comment
          = @case.comment


.case_comment.notes
  .title
    Notes
  = @case.notes




:javascript
  var chart;

  var chartData = #{@chart_data};

  AmCharts.ready(function () {
    // RADAR CHART
    chart = new AmCharts.AmRadarChart();
    chart.dataProvider = chartData;
    chart.categoryField = "criteria";
    chart.startDuration = 1;
    chart.startEffect = ">";
    chart.sequencedAnimation = true;

    // VALUE AXIS
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.gridType = "circles";
    valueAxis.fillAlpha = 0.02;
    valueAxis.fillColor = "#000000"
    valueAxis.axisAlpha = 0.1;
    valueAxis.gridAlpha = 0.1;
    valueAxis.fontWeight = "bold"
    valueAxis.minimum = 0;
    valueAxis.maximum = 10;
    chart.addValueAxis(valueAxis);

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.lineColor = "#98cdff"
    graph.fillAlphas = 0.4;
    graph.bullet = "round"
    graph.valueField = "score"
    graph.balloonText = "[[category]]: [[value]]/10"
    chart.addGraph(graph);

    // Balloon Settings
    var balloon = chart.balloon;
    balloon.adjustBorderColor = true;
    balloon.color = "#000000";
    balloon.cornerRadius = 5;
    balloon.fillColor = "#000000";
    balloon.fillAlpha = 0.7
    balloon.color = "#FFFFFF"

    // WRITE
    chart.write("chartdiv");
  });