= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.pretty
  %tr
    %th= sortable "user_id"
    %th= sortable "content"
  - for post in @posts
    %tr
      %td.price= post.user_id
      %td= post.content

= will_paginate @posts