- provide(:title, 'Sign up')

= content_for :content do

  :javascript

    // loads map when rest of page is 'ready', consider changing to asynchronously load
    $(function() {
      load_geocode();
    });


  %h1 Sign up
  
  = form_for(@user) do |f|
  
    .row
      .span5
        .panel.kill_left.kill_right

          = render 'shared/error_messages', object: @user
          = f.label :name
          = f.text_field :name
          = f.label :email
          = f.text_field :email
          = f.label :password
          = f.password_field :password
          = f.label :password_confirmation, "Confirm Password"
          = f.password_field :password_confirmation

          = f.label :email_admin, "Receive case interview advice email letter"
          = f.check_box :email_admin

          = f.label :email_users, "Send notifications from users to your email"
          = f.check_box :email_users

          = f.label :accept_tandc, "Accept the terms and conditions"
          = f.check_box :accept_tandc

          %br
          = f.submit "Create my account", class: "btn btn-large btn-inverse"
      .span7
        #map_new.map{:style => "height:450px; width:100%"}

        .panel_latlng
          = f.text_field :lat, id: "lat"
          = f.text_field :lng, id: "lng"

    %script{:src => "//maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}



  :javascript
    var geocoder = new google.maps.Geocoder();
    
    function geocodePosition(pos) {
      geocoder.geocode({
        latLng: pos
      }, function(responses) {
        if (responses && responses.length > 0) {
          updateMarkerAddress(responses[0].formatted_address);
        } else {
          updateMarkerAddress('Cannot determine address at this location.');
        }
      });
    }
      
    function load_geocode() {
    
      // start point centered
      var latLng = new google.maps.LatLng(51.5171, 0.1062);

      var map = new google.maps.Map(document.getElementById('map_new'), {
        // zoomed right out
        zoom: 2,
        center: latLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false,
        mapTypeControl: false
      });
      var marker = new google.maps.Marker({
        position: latLng,
        title: 'Point A',
        map: map,
        draggable: true
      });
    
      // Update current position info.
    
      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerPosition(marker.getPosition());
      });
      
      google.maps.event.addListener(marker, 'dragend', function() {
        geocodePosition(marker.getPosition());
      }); 
    }

    function updateMarkerPosition(latLng) {
      document.getElementById('lat').value = latLng.lat(); 
      document.getElementById('lng').value = latLng.lng();
    }
    
    function updateMarkerAddress(str) {
      document.getElementById('loc').value = str;
    }
