%ul.m_user
  %li.name
    %h3
      = @user.name
      = @user.id
  %li.header
    City
  %li
    = @user.city

  %li.header
    Country
  %li
    = @user.country

  %li.header
    Education
  %li
    = @user.education1
    %br/
    = @user.education2
    %br/
    = @user.education3

  %li.header
    Experience
  %li
    = @user.experience1
    %br/
    = @user.experience2
    %br/
    = @user.experience3

  %li.header
    Skill:
  %li
    = @user.skill

  %li.header
    Number of Cases:
  %li
    = @user.num

  %li.header
    LinkedIn:
  %li
    / linkedin button
    = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'

  %li.header
    Skype:
  %li
    / skype button
    %a{:href => "#{@user.skype}?add"}
      %img{:alt => "#{@user.skype}'s status", :height => "16", :src => "http://mystatus.skype.com/smallicon/#{@user.skype}", :width => "16"}

  %li.header
    Actions:
  %li

    / send message button
    %a#message_show.btn{:href => "#"}
      Send Message    
      %span.caret

    / send feedback button
    = link_to "Send feedback", 'signup_path', class: "btn btn-inverse"

    / new message form
    = render 'messages/message_form'


/ message form jquery show
:javascript
  $('#message_show').click(function() {

    $('#message_form').toggle('slow', function() {
      $('#message_field').val('');
    });

  });

/ message[content]
