- if @user_post
  .panel
    %blockquote
      %p
        = @user_post.content

.panel

  / close button, .close is from T-BS
  / WHAT'S THE RAILS WAY TO DO THIS 'ONCLICK?'
  %button#m_user_close.close(onclick="$('#panel_m_user').fadeOut('slow')") ×

  %ul.m_user
    %li.name
      %h3
        = @user.name
      %h5  
        = "# Cases: " + @user.cases.all.count.to_s
        %br
          = @user.id
    %li.header
      City
    %li
      = @user.city

    %li.header
      Country
    %li
      = @user.country

    %li.header
      Education
    %li
      .pull-left
        = @user.education1
      .pull-right
        = @user.education1_from.strftime("%Y") + "-" + @user.education1_to.strftime("%Y")
      %br/
      .pull-left
        = @user.education2
      .pull-right
        = @user.education2_from.strftime("%Y") + "-" + @user.education2_to.strftime("%Y")
      %br/
      .pull-left
        = @user.education3
      .pull-right
        = @user.education3_from.strftime("%Y") + "-" + @user.education3_to.strftime("%Y")
      %br/
    %li.header
      Experience
    %li
      .pull-left
        = @user.experience1
      .pull-right
        = @user.experience1_from.strftime("%Y") + "-" + @user.experience1_to.strftime("%Y")
      %br/
      .pull-left
        = @user.experience2
      .pull-right
        = @user.experience2_from.strftime("%Y") + "-" + @user.experience2_to.strftime("%Y")
      %br/
      .pull-left
        = @user.experience3
      .pull-right
        = @user.experience3_from.strftime("%Y") + "-" + @user.experience3_to.strftime("%Y")
      %br/

    %li.header
      Skill:
    %li
      = @user.skill

    %li.header
      Number of Cases:
    %li
      = @user.num

    %li.header
      LinkedIn:
    %li
      / linkedin button
      = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'

    %li.header
      Skype:
    %li
      / skype button
      %a{:href => "#{@user.skype}?add"}
        %img{:alt => "#{@user.skype}'s status", :height => "16", :src => "http://mystatus.skype.com/smallicon/#{@user.skype}", :width => "16"}

    %li.header
      Actions:
    %li

      / send notification button
      %a#notification_show.btn.btn-inverse{:href => "#"}
        %i.icon-comment.icon-white
        Message    
        %span.caret

      / send notification button
      %a#request_show.btn.btn-inverse{:href => "#"}
        %i.icon-refresh.icon-white
        Request Feedback  

        %span.caret
      / send feedback button
      = link_to raw("<i class=\"icon-edit icon-white\"/>Send Feedback"), { controller: "cases", action: "new", target: @user.id }, class: "btn btn-inverse"


    %li(style="margin-top:10px;")
      / new notification form
      = render 'notifications/notification_form'
      / request feedback form     
      = render 'notifications/request_form'


  :javascript

    / notification form jquery show
    $('#notification_show').click(function() {

      $('#notification_form').toggle('slow', function() {
        $('#notification_field').val('');
      });

    });

    / request form jquery show
    $('#request_show').click(function() {

      $('#request_form').toggle('slow', function() {
        /// reset anything?
      });

    });