%ul.m_user
  %li.name
    %h3
      = @user.name
      = @user.id
  %li.header
    City
  %li
    = @user.city

  %li.header
    Country
  %li
    = @user.country

  %li.header
    Education
  %li
    = @user.education1
    %br/
    = @user.education2
    %br/
    = @user.education3

  %li.header
    Experience
  %li
    = @user.experience1
    %br/
    = @user.experience2
    %br/
    = @user.experience3

  %li.header
    Skill:
  %li
    = @user.skill

  %li.header
    Number of Cases:
  %li
    = @user.num

  %li.header
    LinkedIn:
  %li
    / linkedin button
    = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'

  %li.header
    Skype:
  %li
    / skype button
    %a{:href => "#{@user.skype}?add"}
      %img{:alt => "#{@user.skype}'s status", :height => "16", :src => "http://mystatus.skype.com/smallicon/#{@user.skype}", :width => "16"}
  %li
    / send feedback button
    = link_to "Send feedback", 'signup_path', class: "btn btn-large btn btn-primary"

  %li.header
    Send feedback:
  %li
    / notify form
    %a#notify_show.btn.btn-large{:href => "#"}
      Notify     
      %span.caret

    #notify_form(style="display:none;")
      = render 'messages/notify_form'




/ notify form jquery show
:javascript
  $('#notify_show').click(function() {
    $('#notify_form').show('slow');
  });

