%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if signed_in?
        = link_to "casenexus.com", users_path, id: "logo"
      - else
        = link_to "casenexus.com", "/", id: "logo"
      %nav
      - if signed_in?
        %ul.nav.pull-left

          %li.divider-vertical

          / MAP: pushpin or globe or picture or road or map-marker
          %li
            = link_to raw("<i class='icon-globe icon-large'></i> Users"), users_path
          / ROULETTE: or refresh
          %li
            = link_to raw("<i class='icon-random icon-large'></i> Roulette"), '/roulette'

          / HELP: info-sign or question-sign or book
          %li
            = link_to raw("<i class='icon-info-sign icon-large'></i> Help"), help_path

        %ul.nav.pull-right

          / Messages pull down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              / messages icon + message count
              %i.icon-comments.icon-white.icon-large 
              = "(" + @user_messages_count.to_s + ")"
              %span.caret
            %ul.dropdown-menu
              %li
              
                / Build message list for notifcations icon
                - if @user_messages_count > 0
                  - @user_messages.each do |message_header|

                    / render message_header partial
                    = render partial: 'messages/message_header' , locals: { :message_header => message_header }

                - else
                  = link_to "No Messages", '#'

              %li.divider
              %li
                = link_to "See all", '/messages'

          / Profile pull-down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user.icon-white.icon-large
              = @user_name
              %span.caret
            %ul.dropdown-menu
              %li= link_to raw("<i class=icon-cogs></i> Settings"), edit_user_path(current_user)
              %li.divider
              %li= link_to raw("<i class=icon-bolt></i> Sign out"), signout_path, method: "delete"
          %li.divider-vertical
          %li#fat-menu.dropdown
            %a.count.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = @user_cases_count.to_s
              %span.caret
            %ul.dropdown-menu
              %li= link_to raw("<i class=icon-book></i> Your Cases"), "/cases"
              %li= link_to raw("<i class=icon-book></i> Analysis"), "/analysis"
      -else
        %ul.nav.pull-left
          %li.divider-vertical


