%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if signed_in?
        = link_to "casenexus.com", users_path, id: "logo"
      - else
        = link_to "casenexus.com", "/", id: "logo"
      %nav
      - if signed_in?
        %ul.nav.pull-left

          %li.divider-vertical

          / MAP: pushpin or globe or picture or road or map-marker
          %li
            = link_to raw("<i class='icon-globe icon-large'></i> Users"), users_path
          / ROULETTE: or refresh
          %li
            = link_to raw("<i class='icon-random icon-large'></i> Roulette"), '/roulette'

          / HELP: info-sign or question-sign or book
          %li
            = link_to raw("<i class='icon-info-sign icon-large'></i> Help"), help_path

        %ul.nav.pull-right

          / Notifications pull down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              / notifications icon + notification count
              %i.icon-comments.icon-white.icon-large 
              = "(" + @user_notifications_count.to_s + ")"
              %span.caret
            %ul.dropdown-menu
              %li
                / see all link
                / should make a css class of centering at some point
                = link_to "See all", '/notifications', style: "text-align:center;"
              %li.divider

              %li
                / Build notification list for notifcations icon
                - if @user_notifications_count > 0
                  - @user_notifications.each do |notification_header|

                    / render notification_header partial
                    = render partial: 'notifications/notification_header' , locals: { :notification_header => notification_header }

                - else
                  = link_to "You have no Notifications", '#'

          / Profile pull-down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user.icon-white.icon-large
              = @user_name
              %span.count
                = @user_cases_count.to_s
              %span.caret
            %ul.dropdown-menu
              %li= link_to raw("<i class=icon-book></i> Your Cases"), "/cases"
              %li= link_to raw("<i class=icon-search></i> Progress Analysis"), "/analysis"
              %li.divider
              %li= link_to raw("<i class=icon-cogs></i> Settings"), edit_user_path(current_user)
              %li.divider
              %li= link_to raw("<i class=icon-bolt></i> Sign out"), signout_path, method: "delete"

      -else
        %ul.nav.pull-left
          %li.divider-vertical


