%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "casenexus.com", users_path, id: "logo"
      %nav
      - if signed_in?
        %ul.nav.pull-left
          %li= link_to "Users", users_path
          %li= link_to "Roulette", help_path
        %ul.nav.pull-right
          %li= link_to "Help", help_path
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              N
              %span.caret
            %ul.dropdown-menu(style="height:300px;width:300px;overflow:auto;")
              / - if @messages.count > 0
              /   - @messages.each do |message|
              /     %li
              /       = link_to message.user.name, message.user
              /       = message.content
              / - else
              /   %p No messages      
              %li.divider
              %li
                = link_to "See all", '/messages'
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Your Feedback", "/cases"
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Sign out", signout_path, method: "delete"
      -else
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path          
          %li= link_to "Sign in", signin_path