%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "casenexus.com", users_path, id: "logo"
      %nav
      - if signed_in?
        %ul.nav.pull-left
          %li= link_to "Users", users_path
          %li= link_to "Roulette", '/roulette'
        %ul.nav.pull-right
          %li= link_to "Help", help_path

          / Messages pull down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              N
              %span.caret
            %ul.dropdown-menu
              %li
                / Build message list for notifcations icon
                - if @messages_nav.count > 0
                  - @messages_nav.each do |message|
                    %a{:href => "/messages/" + message.id.to_s ,
                       :style => ""}
                      %b
                        = User.find_by_id(message.sender_id).name
                      = time_ago_in_words(message.created_at)
                      %br
                      %p(style="font-size:90%;")
                        = message.content.truncate(35, :separator => ' ')

                - else
                  %p No messages      
              %li.divider
              %li
                = link_to "See all", '/messages'

          / Profile pull-down
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = "@" + @user_name
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Your Feedback", "/cases"
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Sign out", signout_path, method: "delete"
      -else
        / if not signed in...
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path
          %li= link_to "Sign in", signin_path