!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / IE shim
    = render 'layouts/shim'

  %body
    = render 'layouts/header'

    / flash div
    #flash_application
      = render :partial => 'layouts/flash' , :locals => { :flash => flash }
      ////// some nice buttons for flashes - to be implemented later
      / %p
      /   %a.btn.btn-danger{:href => "#"} Take this action
      /   %a.btn{:href => "#"} Or do this
          
    .container
      ///// :content now specified in all view - anoying, but enables nested views for 
      ///// e.g. messages, feedback controllers
      = yield :content
