= content_for :content do
  .row
    %aside.span3
      .panel.type1
        %ul.sidebar
          %li
            = link_to "Inbox (#{@messages_count})", "/messages"
          %li
            = link_to "Sent", "/messages#sent"
    .span9
      .panel
        = yield

= render :template => 'layouts/application'